a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header h1 {
  width: 100px;
}
header h1 img {
  margin: 25px 0 0 25px;
}
header .header-nav {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff2a2a;
  text-align: center;
  z-index: 100;
}
header .header-nav img {
  width: 100px;
  margin: 25px 0 30px 25px;
}
header .header-nav ul li {
  margin-bottom: 20px;
  font-weight: bold;
}
header .header-nav ul li a {
  color: #fff;
  font-size: 16px;
}
header .header-nav ul .nav-btn {
  margin-top: 50px;
}
header .header-nav ul .nav-btn a {
  width: 250px;
  border: solid 1px #fff;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  cursor: pointer;
}
header .header-nav ul .nav-btn :hover {
  background-color: #fff;
  color: #ff2a2a;
  transition: 0.5s;
}
header .header-nav ul .nav-btn ::after {
  content: "";
  width: 250px;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 26px 0;
  position: absolute;
  right: -8px;
  bottom: -8px;
}
header .header-nav.active {
  visibility: visible;
  opacity: 1;
}
header .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: #ff2a2a;
  border-color: transparent;
  box-sizing: border-box;
  vertical-align: top;
  z-index: 200;
  cursor: pointer;
}
header .hamburger span {
  position: absolute;
  top: 19px;
  left: 17px;
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: ease 0.4s;
}
header .hamburger span:nth-child(1) {
  margin-top: 5px;
}
header .hamburger span:nth-child(2) {
  margin-top: 15px;
}
header .hamburger span:nth-child(3) {
  margin-top: 25px;
}
header .hamburger.active span:nth-child(1) {
  top: 38px;
  transform: rotate(-45deg);
}
header .hamburger.active span:nth-child(2) {
  opacity: 0;
}
header .hamburger.active span:nth-child(3) {
  transform: rotate(45deg);
}

.top {
  margin-bottom: 86px;
}
.top .top-img {
  position: relative;
}
.top .top-img .slider {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 960px) {
  .top .top-img .slider {
    width: 70%;
    height: 720px;
    margin-right: 0;
    margin-left: auto;
    display: block;
  }
}
.top .top-img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 10px 10px #fff inset;
}
@media screen and (min-width: 960px) {
  .top .top-img:after {
    left: auto;
    width: 70%;
    height: 720px;
  }
}
.top .top-text {
  font-size: 22px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .top .top-text {
    position: absolute;
    top: 270px;
    left: 135px;
    width: 460px;
  }
}
.top .top-text h2 {
  margin-left: 16px;
}
@media screen and (min-width: 960px) {
  .top .top-text h2 {
    font-size: 46px;
    text-shadow: #fff 0 3px 6px;
  }
}
.top .top-text button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 0;
  width: 90%;
  height: 60px;
  background-color: #ff2a2a;
  border-radius: 10px;
  display: block;
  margin: auto;
  cursor: pointer;
  box-shadow: 0 8px #7a051c;
  transition: 0.4s;
}
.top .top-text button a {
  color: #fff;
}
.top .top-text button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.4s;
}

.section-title {
  position: relative;
  font-size: 28px;
  text-align: center;
  margin-bottom: 60px;
}
.section-title:after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #333;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.reason-content {
  background-color: #ff2a2a;
  margin-bottom: 80px;
  padding: 40px 0;
  /*===== inview =====*/
  /*==================*/
  /*===== inview =====*/
  /*==================*/
}
.reason-content .reason-text1 {
  background-color: #fff;
  width: 95%;
  height: 120px;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 960px) {
  .reason-content .reason-text1 {
    width: 50%;
  }
}
.reason-content .fadeIn-left {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: 1s;
}
.reason-content .is-show {
  transform: translate(0, 0);
  opacity: 1;
}
.reason-content .reason-text2 {
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  margin-top: 30px;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  height: 120px;
  transform: translateX(16px);
}
@media screen and (min-width: 960px) {
  .reason-content .reason-text2 {
    width: 50%;
    transform: translateX(100%);
  }
}
.reason-content .fadeIn-right {
  opacity: 0;
  transform: translate(50%, 0);
  transition: 1s;
}
.reason-content .is-show {
  transform: translate(0, 0);
  opacity: 1;
}
.reason-content .item {
  display: flex;
  align-items: center;
}
.reason-content .item .fa-solid {
  font-size: 60px;
}
.reason-content .item-text {
  width: 60%;
  margin: auto 30px;
}
.reason-content .item-text h3 {
  color: #ff2a2a;
  font-size: 24px;
}
.reason-content .item-text p {
  font-size: 18px;
}

@media screen and (min-width: 960px) {
  .voice-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-right: 20%;
  }
}
.voice-content .voice-text {
  background-color: #e9f1fb;
  margin: 30px 16px;
  padding: 20px 13px;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  background: #e0edff;
}
@media screen and (min-width: 960px) {
  .voice-content .voice-text {
    width: 514px;
    height: 142px;
  }
}
.voice-content .voice-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}
@media screen and (min-width: 960px) {
  .voice-content .voice-text::before {
    top: 70%;
    left: -30px;
    margin-top: -15px;
    margin-left: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #e0edff;
    border-bottom: 15px solid transparent;
  }
}
@media screen and (min-width: 960px) {
  .voice-content .balloon-right::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #e0edff;
  }
}
.voice-content .voice-profile {
  text-align: center;
}
@media screen and (min-width: 960px) {
  .voice-content .voice-profile {
    padding-top: 26px;
  }
}
.voice-content .voice-profile img {
  background-color: #ccc;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.voice-content .voice-profile p {
  font-size: 12px;
}

@media screen and (min-width: 960px) {
  .voice-flex {
    flex-direction: row;
    margin-right: -20%;
  }
}

.zoomIn {
  -webkit-animation-name: zoomInAnime;
          animation-name: zoomInAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes zoomInAnime {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomInAnime {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.summary {
  background-image: url(../img/bg.jpg);
  background-size: 700px 700px;
  -webkit-animation: bg 10s infinite linear;
          animation: bg 10s infinite linear;
  background-color: #e8e8e8;
  margin-top: 80px;
}
@-webkit-keyframes bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}
@keyframes bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}
.summary .section-title {
  padding-top: 60px;
}
.summary .summary-item {
  width: 343px;
  height: 232px;
  background-color: #fff;
  margin: 32px auto;
  border-radius: 20px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .summary .summary-item {
    margin: 15px 30px;
  }
}
.summary .summary-item .item-title {
  padding-top: 30px;
  font-size: 24px;
  font-weight: bold;
}
.summary .summary-item .item-subtitle {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
.summary .summary-item .item-text {
  margin: 30px;
  font-size: 16px;
}
@media screen and (min-width: 960px) {
  .summary .summary-container {
    display: flex;
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */